{% extends "../../base.html" %}

{% block navbar %}
{% include "components/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-8-widescreen is-offset-2-widescreen">
      <div class="box">

        {% include "../../components/flash_message.html" %}

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Medium</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select disabled>
                    <option selected>{{ ticket.ticket.type_.german() }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Kurs</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select disabled>
                    <option selected>{{ ticket.course_name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Kategorie</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select disabled>
                    <option selected>{{ ticket.ticket.category.german() }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% match ticket.medium %}
          {% when Medium::Text with { ticket_id, page, line } %}
            {% include "text.html" %}
          {% when Medium::Recording with { ticket_id, time } %}
            {% include "recording.html" %}
          {% when Medium::Interactive with { ticket_id, url } %}
            {% include "interactive.html" %}
          {% when Medium::Questionaire with { ticket_id, question, answer } %}
            {% include "questionaire.html" %}
        {% endmatch %}

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Titel</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" value="{{ ticket.ticket.title }}" disabled>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Beschreibung</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea" rows="5" disabled>{{ ticket.ticket.description }}</textarea>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% if role <= Role::Tutor %}
  <div class="columns">
    <div class="column is-8-widescreen is-offset-2-widescreen">
      <div class="box">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Bearbeiter</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" value="{{ ticket.editor_name }}" disabled>
              </div>
            </div>
          </div>
        </div>

        {% if ticket.ticket.is_editable() %}
        <form action="/tickets/{{ ticket.ticket.id }}/edit" method="POST">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Priorität</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="priority" required>
                      <option value="critical" {{- ticket.ticket.priority|select(Priority::Critical) }}>Kritisch</option>
                      <option value="high" {{- ticket.ticket.priority|select(Priority::High) }}>Hoch</option>
                      <option value="medium" {{- ticket.ticket.priority|select(Priority::Medium) }}>Mittel</option>
                      <option value="low" {{- ticket.ticket.priority|select(Priority::Low) }}>Niedrig</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-info">
                    <span class="icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Speichern</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        {% endif %}

      </div>
    </div>
  </div>

  {% if ticket.ticket.is_editable() %}
  <div class="columns">
    <div class="column is-8-widescreen is-offset-2-widescreen">
      <div class="box">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Optionen</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="buttons">

                  {% if ticket.ticket.can_accept() %}
                  <a class="button is-success" href="/tickets/{{ ticket.ticket.id }}/status/accepted">
                    <span class="icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Annehmen</span>
                  </a>
                  {% endif %}

                  {% if ticket.ticket.can_refuse() %}
                  <a class="button is-danger" href="/tickets/{{ ticket.ticket.id }}/status/refused">
                    <span class="icon">
                      <i class="fas fa-times"></i>
                    </span>
                    <span>Ablehnen</span>
                  </a>
                  {% endif %}

                  {% if ticket.ticket.can_complete() %}
                  <a class="button is-light" href="/tickets/{{ ticket.ticket.id }}/status/completed">
                    <span class="icon">
                      <i class="fas fa-archive"></i>
                    </span>
                    <span>Abschließen</span>
                  </a>
                  {% endif %}

                  {% if ticket.ticket.can_forward() %}
                  <a class="button is-warning" href="/tickets/{{ ticket.ticket.id }}/forward">
                    <span class="icon">
                      <i class="fas fa-handshake"></i>
                    </span>
                    <span>An Autor übergeben</span>
                  </a>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}

  <div class="columns">
    <div class="column is-8-widescreen is-offset-2-widescreen">
      <div class="box">

        {% for c in ticket.comments %}
        <div class="content">
          <p>
            <strong>{{ c.creator_name }}</strong> <small>{{ c.comment.timestamp|timestamp }}</small>
            <br>
            {{ c.comment.message|escape|linebreaksbr|safe }}
          </p>
        </div>
        {% endfor %}

        {% if ticket.ticket.is_editable() %}
        <form action="/tickets/{{ ticket.ticket.id }}/comment" method="POST">
          <div class="field">
            <label class="label">Kommentar</label>
            <div class="control">
              <textarea class="textarea" name="comment" required></textarea>
            </div>
          </div>
          <div class="control">
            <button class="button is-info">
              <span class="icon">
                <i class="far fa-comments"></i>
              </span>
              <span>Senden</span>
            </button>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}