<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Frage</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <input class="input" type="number" value="{{ question }}" disabled>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Antwort</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea class="textarea" type="text" rows="2">{{ answer }}</textarea>
      </div>
    </div>
  </div>
</div>