<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Zeit</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <input class="input" type="number" value="{{ time.hour() }}" disabled>
      </div>
    </div>
    <div class="field is-narrow">
      <div class="control">
        <input class="input" type="number" value="{{ time.minute() }}" disabled>
      </div>
    </div>
    <div class="field is-narrow">
      <div class="control">
        <input class="input" type="number" value="{{ time.second() }}" disabled>
      </div>
    </div>
  </div>
</div>