{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <div class="columns">
          <div class="column has-text-centered">
            <img {{ "/images/logo.png"|srcset|safe }} width="215" height="56" alt="Amelio">
          </div>
        </div>

        {% match flash %}
          {% when Some with (flash) %}
            {% let (name, msg) = flash %}
            {% let color %}

            {% if name == "success" %}
              {% let color = "is-success" %}
            {% else %}
              {% let color = "is-danger" %}
            {% endif %}

            <div class="notification {{ color }}">{{ msg.german() }}.</div>
          {%- when None %}
        {% endmatch %}

        <form action="/login" method="POST">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Nutzername" name="username" required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Passwort" name="password" required>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control">
              <button class="button is-info" type="submit">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Login</span>
              </button>
            </p>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock content %}