<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Frage</label>
  </div>
  <div class="field-body">
    <div class="field">
      <input type="number" name="question" required>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Antwort</label>
  </div>
  <div class="field-body">
    <div class="field">
      <textarea class="textarea" type="text" name="answer" rows="2"></textarea>
    </div>
  </div>
</div>