<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Frage</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="number" name="question" min="0" max="200" required>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Antwort</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea class="textarea" name="answer" rows="2" required></textarea>
      </div>
    </div>
  </div>
</div>