<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Zeit</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <input class="input" type="number" name="hour" min="0" max="23" required>
    </div>
    <div class="field is-narrow">
      <input class="input" type="number" name="minute" min="0" max="59" required>
    </div>
    <div class="field is-narrow">
      <input class="input" type="number" name="second" min="0" max="59" required>
    </div>
  </div>
</div>