<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Seite</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <input class="input" type="number" name="page" min="0" required>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Zeile</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <input class="input" type="number" name="line" min="0" required>
      </div>
    </div>
  </div>
</div>