{% extends "base.html" %}

{% block navbar %}
{% include "components/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container">

  <div class="columns">
    <div class="column">
      <div class="box">

        <div class="columns">
          <div class="column is-8">
            <p class="title">Kursverwaltung</p>
          </div>
          <div class="column has-text-right">
            <a class="button is-info" href="/courses/new">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
              <span>Neuer Kurs</span>
            </a>
          </div>
        </div>

        {% include "components/flash_message.html" %}

        <div class="table-container">
          <table class="table is-hoverable is-fullwidth">
            <tr>
              <th>Kürzel</th>
              <th>Titel</th>
              <th>Autor</th>
              <th>Tutor</th>
              <th width="54"></th>
            </tr>
            {% for c in courses %}
            <tr>
              <td>{{ c.course.code }}</td>
              <td>
                <a href="/courses/{{ c.course.id }}/edit">{{ c.course.title }}</a>
              </td>
              <td>{{ c.author_name }}</td>
              <td>{{ c.tutor_name }}</td>
              <td>
                {% if c.course.active %}
                <form action="/courses/{{ c.course.id }}/enable">
                  <input type="hidden" name="value" value="false">
                  <button class="button is-danger is-small" title="Deaktivieren">
                    <span class="icon">
                      <i class="fas fa-minus"></i>
                    </span>
                  </button>
                </form>
                {% else %}
                <form action="/courses/{{ c.course.id }}/enable">
                  <input type="hidden" name="value" value="true">
                  <button class="button is-success is-small" title="Reaktivieren">
                    <span class="icon">
                      <i class="fas fa-plus"></i>
                    </span>
                  </button>
                </form>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}